/**/

body{
display:grid;
}

#rightredplate{
    display:grid;
    grid-area: rrp;
    background-color: red;
    justify-items:center;
    align-items:center;
    border-style:solid;
    border-width:3px;
    border-color:darkred;
    width: 240px;
    height: 360px;
}

.line{
    width: calc(300px*1.41);
    border-bottom: 3px solid rgb(1, 68, 12);
    transform: rotate(45deg);
    transform-origin: left;
    }

#maindisp{
    display: grid;
    border-style: solid;
    border-color: rgb(94, 94, 94);
    border-width:3px;
    background-color:darkgray;
    width:180px;
    height:148px;
    align-content:center;
    justify-content:center;
    border-radius:5px;
    border-bottom-left-radius: 25px;
}


#maindisptoplights{
    position:absolute;
    width:inherit;
    height:25px;
    text-align:center;
}

#mdrl1, #mdrl2{
    margin-top: 8px;
    display:inline-block;
    width:10px;
    height:10px;
    background-color:red;
    border-radius:10px;
}

#mdrl2{
    margin-left:30px;
}

#maindispscreen{
    display:grid;
    background-color:rgb(120, 143, 120);
    border-style: solid;
    border-width: 3px;
    border-color:rgb(70, 82, 70);
    width: 128px;
    height: 96px;
    align-content:center;
    justify-content:center;
    border-radius:5px;
}

#pokepic{
    width:192px;
    height:192px;
}

#maindispbottom{
    margin-top:124px;
    position:absolute;
    width:inherit;
    height:25px;
    text-align: center;
}

#mdbrl{
        display:inline-block;
        margin-bottom:4px;
        width:10px;
        height:10px;
        background-color:red;
        border-radius:10px;
}

#mdhzl{
    margin-top:2px;
    margin-left:100px;
    width:20px;
    display: inline-block;
}

hr{
    margin:3px;
}