#kantodex{
    width:480px;
    height:360px;
    display:grid;
    grid-template-rows: 1fr,1fr;
    grid-template-areas:
    "lu ru"
    "ll rl"
    "ll rl"
    "ll rl";
    border-style:solid;
}

#left-upper{
    width:240px;
    grid-area:lu;
    border-style:solid;

}
#left-lower{
    border-style:solid;
}

#left-screen{
    height:198px;
}
#button-box{
    height:100px;
}

#right-upper{
    display:flex;
    align-items:center;
    justify-content:center;
    height:72px;
    width:240px;
    grid-area:ru;
    border-style:solid;
}

#right-lower{
    grid-area:rl;
    border-style:solid;
}
#right-screen{
    height:100px;
}
#button-panel{
    height:100px;
}
#misc-button-box{
    height:98px;
}